body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: Arial, sans-serif;
}

/* GRID */
.floorplan {
  display: grid;
  grid-template-columns: 130px 190px 190px 130px;
  grid-template-rows: 90px 120px 80px 120px 120px 90px;
  transform: scale(0.95);
}

/* ROOMS */
.room {
  border: 4px solid #2a448f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: #fff;
  font-size: 13px;
  font-weight: 500;
}

/* GRID PLACEMENT */
.kitchen-yard {
     grid-column: 2 / 4; 
     border: 2px solid #3059ca;
    }

.store { 
    grid-column: 1; 
    grid-row: 2; 
}

.kitchen { 
    grid-column: 2; 
    grid-row: 2; 
}

.dining { 
    grid-column: 3; 
    grid-row: 2; 
}

.bedroom-03 { 
    grid-column: 4; 
    grid-row: 2; 
}

.passage-left{
    border: 4px solid #1E3A8A;
}

.passage-right {
  border: 4px solid #1E3A8A;
}

.passage-left { 
    grid-column: 1; 
    grid-row: 3; 
}

.passage-center {
  grid-column: 2 / 4;
  grid-row: 3;
  border: 4px solid #1E3A8A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.passage-right { 
    grid-column: 4; 
    grid-row: 3; 
}

.master-bedroom { 
    grid-column: 1; 
    grid-row: 4; 
}

.lounge { 
    grid-column: 2 / 4; 
    grid-row: 4 / 6; 
}

.bedroom-02 { 
    grid-column: 4; 
    grid-row: 4; 
}

.entry-porch { 
    grid-column: 2 / 4; 
    grid-row: 6; 
        border: 3px solid #3059ca;
}

/* ===== FULL WALL OPENINGS ===== */
.wall-cut {
  position: absolute;
  background: #fff;
  z-index: 20;
}

/* Horizontal wall openings */

.wall-cut.top { 
   top: -8px;
   height: 8px;
 }

.wall-cut.bottom {
   bottom: -9px;
   height: 10px;
  }

/* Vertical wall openings */
.wall-cut.left { 
    left: -7px; 
    width: 12px;  
  }

.wall-cut.right {
    right: -7px;
    width: 12px; 
  }


/* ===== INNER PARTS ===== */
.inner {
  position: absolute;
  border: 2px solid #1E3A8A;
  background: transparent;
}

/* Wardrobes */
.master-wardrobe {
  right: 0;
  top: 25px;
  width: 16px;
  height: 85px;
}

.bed2-wardrobe {
  left: 40px;
  top: 0;
  width: 80px;
  height: 20px;
}

.bed3-wardrobe {
  bottom: 0;
  left: 45px;
  width: 75px;
  height: 12px;
}

/* Wardrobe label */
.wardrobe::after {
  content: "Wardrobe";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8px;
  color: #1E3A8A;
  background: #fff;
  padding: 1px 2px;
}

/* Master bedroom wardrobe label fix */
.master-wardrobe::after {
  content: "Wardrobe";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-size: 7px;
  white-space: nowrap;
  background: #fff;
  padding: 1px 2px;
  color: #1E3A8A;
}

/* Kitchen */
.kitchen-counter {
  bottom: 8px;
  left: 12px;
  width: 120px;
  height: 22px;
}

.kitchen-sink {
  bottom: 12px;
  left: 55px;
  width: 30px;
  height: 14px;
  border-radius: 50%;
}

/* Beds */
.bed {
  border: 2px solid #1E3A8A;
}

.master-bed {
  left: 29px;
  top: 30px;
  width: 63px;
  height: 45px;
}

.bed2 {
  right: 18px;
  top: 30px;
  width: 42px;
  height: 40px;
}

/* Dining */
.dining-table {
  left: 73px;
  top: 30px;
  width: 35px;
  height: 60px;
}

.chair {
  width: 14px;
  height: 14px;
}

.c1 {
     top: 12px; 
     left: 83px; 
    }

.c2 {
     bottom: 4px; 
     left: 85px; 
    }

.c3 { 
    top: 40px; 
    left: 57px; 
}

.c4 { 
    top: 40px; 
    right: 55px; 
}

.c5 { 
    top: 70px; 
    right: 110px; 
}

.c6 { 
    top: 70px; 
    right: 55px; 
}

/* LOUNGE*/
/* L-shaped sofa – TOP RIGHT */
.sofa {
    position: absolute;
    top: 9px;
    right: 75px;
    width: 150px;
    height: 45px;
    border: 2px solid #1E3A8A;
    background: repeating-linear-gradient(to left, transparent, transparent 18px, #1E3A8A 18px, #1E3A8A 19px);
}

/* vertical leg – downward */
.sofa::after {
    content: "";
    position: absolute;
    right: -2px;
    top: 44px;
    width: 54px;
    height: 75px;
    border: 2px solid #1E3A8A;
    background: repeating-linear-gradient(to bottom, transparent, transparent 18px, #1E3A8A 18px, #1E3A8A 19px);
}

.lounge-zone {
    position: absolute;
    left: 50px;
    top: 26px;
    width: 230px;
    height: 170px;
    border: 1.5px solid #1E3A8A;
    pointer-events: none;
}

.lc1 {
    position: absolute;
    right: 170px;
    top: 90px;
    width: 32px;
    height: 42px;
    border: 2px solid #1E3A8A;
}

.lc2{
  position: absolute;
  right: 75px;
  bottom: 25px;
  width: 40px;
  height: 35px;
  border: 2px solid #1E3A8A;
}

.lc3 {
    position: absolute;
    bottom: 25px;
    left: 75px;
    width: 95px;
    height: 30px;
    border: 2px solid #1E3A8A;
    background:
        repeating-linear-gradient(
            to right,
            transparent,
            transparent 18px,
            #1E3A8A 18px,
            #1E3A8A 19px
        );
}


/* tv unit */
.tv-unit {
    position: absolute;
    left: 8px;
    top: 55px;
    width: 16px;
    height: 85px;
    border: 2px solid #1E3A8A;
}


/* ===== DOOR CURVE (PROFESSIONAL) ===== */
.door-curve {
  position: absolute;
  width: 26px;
  height: 26px;
  border: 2px solid #1E3A8A;
  border-left: none;
  border-bottom: none;
  border-radius: 0 26px 0 0;
}

/* Door leaf (straight panel line) */
.door-curve::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background: #1E3A8A;
  bottom: 0;
  right: 0;
}

/* Door positions */
.kitchen-door {
  bottom: -2px;
  left: 156px;
  transform: rotate(270deg);
}

.kitchen-yard-door{
  left: 152px;
  top: 65px;
  width: 26px;
  transform: rotate(-90deg);
}

.bed3-door {
    left: 1px;
    top: 88px;
    width: 26px;
    height: 26px;
    border: 2px solid #1E3A8A;
    border-right: none;
    border-top: none;
    border-radius: 26px 0 0 0;
    transform: rotate(90deg);
}

.master-top {
  top: -30px;
  left: 97px;
  transform: rotate(-90deg);
}
.bed2-door {
  top: -4px;
  left: -2px;
  transform: rotate(90deg);
}
.entry-door {
  top: -6px;
  left: 89%;
  transform: rotate(-180deg);
}

/* Corner shading */
.corner-shade {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #1E3A8A;
}
.corner-tl { 
    top: -1px; 
    left: -1px; 
}

.corner-tr { 
    top: -1px; 
    right: -1px; 
}

.corner-bl { 
    bottom: -1px; 
    left: -1px; 
}

.corner-br { 
    bottom: -1px; 
    right: -1px; 
}
